In [1]:
def my_function():
    print("hello function")

In [2]:
my_function()

hello function

In [3]:
def function(name):
    print("hello " +    name)

In [4]:
function("harshita")

hello harshita

In [5]:
def me_function(*kids):
    print ("the youngest child is "+ kids[2])

In [6]:
me_function("ria","shanti","manoj")

the youngest child is manoj

In [7]:
def my_function(f_name,l_name):
    print(f_name +" " + l_name)

In [8]:
my_function(f_name="harshita",l_name="sehgal")

harshita sehgal

In [9]:
def me_function(**kids):
    print ("her surname is "+ kids["l_name"])

In [10]:
me_function(l_name="kapoor")

her surname is kapoor

In [11]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [12]:
def least(*args):
    return min(args)

In [13]:
least(90,56,78)

56

In [14]:
def my_function(country):
    print("i am from" + " "+ country)

In [15]:
my_function("india")

i am from india

In [16]:
class calculator:
    def addition(a,b):
        return(a+b)
    def division(a,b):
        return(a/b)
    def multiplication(a,b):
        return(a*b)
    def  subtraction(a,b):
        return(a-b)

In [17]:
calculator.addition(8,5)

13

In [18]:
calculator.multiplication(9,7)

63

In [19]:
class employee:
    emp_id=1002
    emp_name="andrew"
    emp_department="hr"

In [20]:
class employee:
    emp_id=1002
    emp_name="andrew"
    emp_department="hr"
    def message(self):
        return"employee will join soon"

In [21]:
#class object
employee.emp_id

1002

In [22]:
class student:
    
    def __init__(self,name,age):
        self.name=name
        self.age=age

In [23]:
p1=student("harshita",20)
print(p1.name)
print(p1.age)

harshita
20

In [24]:
class car:
    def __init__(self,company,color):
        self.company=company
        self.color=color
    def display(self):
        print ('this is a',self.color,self.company)

In [25]:
def main():
    c=car("waganor","red")
    c.display()

In [26]:
if __name__=="__main__":
    main()

this is a red waganor

In [27]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age

In [28]:
p1=person("harshita",20)

In [29]:
p1

In [30]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def myfunction(self):
        print("my name is  "   +  self.name)

In [31]:
p1=person("raj",21)

In [32]:
p1.myfunction()

my name is  raj

In [33]:
#del p1.age-deletes 
#pass
#super() function adds element without using parent element